{% extends 'layout.html.twig' %}

{% block body %}
    {#<section class="l-cta l-section">
        <div class="container">
            <p><a href="https://lonestarphp.ticketbud.com/lone-star-php-2014" target="_blank" rel="external" class="btn btn-primary btn--medium btn--dark"><i class="fa fa-ticket"></i> Get Your Ticket Today</a></p>
        </div>
    </section>#}
    <section class="l-description l-section">
        <div class="container">
            <p>Welcome back to Lone Star PHP for another great year! We're in our <strong>fourth year</strong> and we're making things better all the time. This year's event will provide all of the great PHP speakers and content you've come to expect from Lone Star PHP. There'll be plenty of time to spend with the local PHP community too through after-parties and other events.</p>
        </div>
    </section>
    <section class="l-section">
        <div class="container">
            <h2 class="h-section">Speakers</h2>
            <div class="grid">
                {% for speaker in speakers %}
                    {%- if not loop.first -%}-->{%- endif -%}<div class="speaker-info grid__item one-quarter lap-one-half palm-one-whole">
                        <h4><a href="/speakers#{{ speaker.first_name|replace({"'": '', " ": '-'})|lower }}-{{ speaker.last_name|replace({"'": '', " ": '-'})|lower }}"><figure class="speaker-photo">
                            <img src="
                            {% if speaker.photo_path %}
                                http://cfp.lonestarphp.com/uploads/{{ speaker.photo_path }}
                            {% else %}
                                /images/missing-photo.png
                            {% endif %}
                            " alt="{{ speaker.first_name }} {{ speaker.last_name }}">
                        </figure><br>
                        {{ speaker.first_name }} {{ speaker.last_name }}</a></h4>
                    </div>{%- if not loop.last -%}<!--{%- endif -%}
                {% endfor %}
            </div>
            <p><a href="/speakers" target="_blank" rel="external" class="btn btn-primary btn-medium"><i class="fa fa-user"></i> View All Speakers</a></p>
        </div>
    </section>
    <section class="l-map" id="map"></section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/js/map.js"></script>
{% endblock %}