{% extends 'layout.html.twig' %}

{% block title %}Schedule | {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <section class="l-section l-sponsors">
        <div class="container">
            <h2 class="h-section">Schedule</h2>
            <h3 class="h-category">Friday - April 25th</h3>
            <div class="grid grid--narrow schedule">
                <!-- Registration -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            7:45am - 8:45am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--middle schedule-block--centered">
                            <h5 class="schedule-talk">Registration Open</h5>
                        </div>
                    </div>
                </div>
                <!-- Welcome -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            8:45am - 9:00am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--middle schedule-block--centered">
                            <h5 class="schedule-talk">Welcome to Lone Star PHP 2014</h5>
                        </div>
                    </div>
                </div>
                <!-- 9:00am - 9:50am -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            9:00am - 9:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-501">Clean Application Development</a></h5>
                                    <a href="{{ path("speakers") }}#adam-culp" class="schedule-speaker">Adam Culp</a>
                                    <span class="schedule-location"><i class="fa fa-map-marker"></i> Sycamore</span>
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-689">Performance Testing Crash Course</a></h5>
                                    <a href="{{ path("speakers") }}#dustin-whittle" class="schedule-speaker">Dustin Whittle</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 10:00am - 10:50am -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            10:00am - 10:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-549">12 Reasons your API Sucks</a></h5>
                                    <a href="{{ path("speakers") }}#keith-casey" class="schedule-speaker">Keith Casey</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1129">Contributing to Core: My Journey to Add array_column to the PHP Core</a></h5>
                                    <a href="{{ path("speakers") }}#ben-ramsey" class="schedule-speaker">Ben Ramsey</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 11:00am - 11:50am -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            11:00am - 11:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-525">The Zen of Tech Leading</a></h5>
                                    <a href="{{ path("speakers") }}#eryn-oneil" class="schedule-speaker">Eryn O'Neil</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-217">Recursion: Making Big Problems Smaller</a></h5>
                                    <a href="{{ path("speakers") }}#jeremy-lindblom" class="schedule-speaker">Jeremy Lindblom</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LUNCH -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            12:00pm - 1:00pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <h5 class="schedule-talk"><i class="fa fa-cutlery"></i> Lunch Presented By:</h5>
                            <img src="/images/sponsors/sparefoot--small.png" alt="SpareFoot">
                        </div>
                    </div>
                </div>
                <!-- 1:00pm - 1:50pm -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time">
                            1:00pm - 1:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-69">Domain Driven Design for Mere Mortals</a></h5>
                                    <a href="{{ path("speakers") }}#jeff-carouth" class="schedule-speaker">Jeff Carouth</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1213">PHP at Density and Scale</a></h5>
                                    <a href="{{ path("speakers") }}#david-strauss" class="schedule-speaker">David Strauss</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2:00pm - 2:50pm -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            2:00pm - 2:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-285">Your code are my tests!</a></h5>
                                    <a href="{{ path("speakers") }}#michelangelo-van-dam" class="schedule-speaker">Michelangelo van Dam</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-313">The Best Engineers We're Not Competing To Hire Yet.</a></h5>
                                    <a href="{{ path("speakers") }}#carina-zona" class="schedule-speaker">Carina Zona</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3:00pm - 3:50pm -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            3:00pm - 3:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1069">Developing Beautiful, Measurable Software</a></h5>
                                    <a href="{{ path("speakers") }}#jeremy-mikola" class="schedule-speaker">Jeremy Mikola</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-341">Scaling &amp; Managing Asynchronous Workers (and staying sane!)</a></h5>
                                    <a href="{{ path("speakers") }}#justin-carmony" class="schedule-speaker">Justin Carmony</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4:00pm - 4:50pm -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            4:00pm - 4:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-749">Your Inner Sysadmin</a></h5>
                                    <a href="{{ path("speakers") }}#chris-tankersley" class="schedule-speaker">Chris Tankersley</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-45">Testing APIs with Behat and PHPUnit</a></h5>
                                    <a href="{{ path("speakers") }}#omni-adams" class="schedule-speaker">Omni Adams</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path('foundation') }}">Foundations Workshop</a></h5>
                                    <div class="schedule-speaker">
                                        <a href="{{ path("speakers") }}#davey-shafik">Davey Shafik</a>,
                                        <a href="{{ path("speakers") }}#elizabeth-smith">Elizabeth Smith</a>,
                                        <a href="{{ path("speakers") }}#matt-frost">Matt Frost</a>,
                                        <a href="{{ path("speakers") }}#michelle-sanver">Michelle Sanver</a>
                                    </div>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Keynote -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            5:00pm - 5:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1205">Keynote: &lt;script&gt;alert(&#039;Keynote!!!!!!!!11!!!1!&#039;);&lt;/script&gt;</a></h5>
                            <a href="{{ path("speakers") }}#alison-gianotto" class="schedule-speaker">Alison Gianotto</a>
                            <i class="fa fa-map-marker"></i> Sycamore
                        </div>
                    </div>
                </div>
                <!-- After Party -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            6:00pm - 9:30pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <a href="#after-party">
                                <h5 class="schedule-talk">After Party Presented By:</h5>
                                <img src="/images/sponsors/pantheon--small.png" alt="Pantheon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="h-category">Saturday - April 26th</h3>
            <div class="grid grid--narrow schedule">
                <!-- 9:00am - 9:50am -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            9:00am - 9:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-685">Silex: From micro to full-stack</a></h5>
                                    <a href="{{ path("speakers") }}#dustin-whittle" class="schedule-speaker">Dustin Whittle</a>
                                    <span class="schedule-location"><i class="fa fa-map-marker"></i> Sycamore</span>
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-393">Managing Dependencies with Composer</a></h5>
                                    <a href="{{ path("speakers") }}#beau-simensen" class="schedule-speaker">Beau Simensen</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1157">Refactor, Don't Rebuild</a></h5>
                                    <a href="{{ path("speakers") }}#eli-white" class="schedule-speaker">Eli White</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 10:00am - 10:50am -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            10:00am - 10:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1137">Grokking HTTP</a></h5>
                                    <a href="{{ path("speakers") }}#ben-ramsey" class="schedule-speaker">Ben Ramsey</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-965">I've been Hacked, Now What?</a></h5>
                                    <a href="{{ path("speakers") }}#elizabeth-tucker-long" class="schedule-speaker">Elizabeth Tucker Long</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-713">Single Page Apps With AngularJS</a></h5>
                                    <a href="{{ path("speakers") }}#ralph-schindler" class="schedule-speaker">Ralph Schindler</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 11:00am - 11:50am -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            11:00am - 11:50am
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-385">GIT for Teams of One or More</a></h5>
                                    <a href="{{ path("speakers") }}#emma-jane-westby" class="schedule-speaker">Emma Jane Westby</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-221">Surviving and Thriving in Technical Interviews</a></h5>
                                    <a href="{{ path("speakers") }}#jeremy-lindblom" class="schedule-speaker">Jeremy Lindblom</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-829">Introduction to Elasticsearch</a></h5>
                                    <a href="{{ path("speakers") }}#jason-austin" class="schedule-speaker">Jason Austin</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- LUNCH -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            12:00pm - 1:00pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <h5 class="schedule-talk"><i class="fa fa-cutlery"></i> Lunch Presented By:</h5>
                            <img src="/images/sponsors/phpdevhired--small.png" alt="PHP Dev Hired">
                        </div>
                    </div>
                </div>
                <!-- 1:00pm - 1:50pm -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time">
                            1:00pm - 1:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-165">It's Vulnerable, Now What? Diverse Tales of Woe and Remediation</a></h5>
                                    <a href="{{ path("speakers") }}#mark-stanislav" class="schedule-speaker">Mark Stanislav</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1185">Web Security and You</a></h5>
                                    <a href="{{ path("speakers") }}#eli-white" class="schedule-speaker">Eli White</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-361">Employing dynamic data cache</a></h5>
                                    <a href="{{ path("speakers") }}#bob-majdak-jr" class="schedule-speaker">Bob Majdak Jr</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 2:00pm - 2:50pm -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            2:00pm - 2:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-101">Guiding Object-Oriented Design with Tests</a></h5>
                                    <a href="{{ path("speakers") }}#jeff-carouth" class="schedule-speaker">Jeff Carouth</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-573">Make $ vagrant up yours</a></h5>
                                    <a href="{{ path("speakers") }}#juan-treminio" class="schedule-speaker">Juan Treminio</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-349">Top to Bottom PHP Profiling</a></h5>
                                    <a href="{{ path("speakers") }}#justin-carmony" class="schedule-speaker">Justin Carmony</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3:00pm - 3:50pm -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            3:00pm - 3:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="grid grid--narrow">
                            <div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-281">Community Works for business too</a></h5>
                                    <a href="{{ path("speakers") }}#michelangelo-van-dam" class="schedule-speaker">Michelangelo van Dam</a>
                                    <i class="fa fa-map-marker"></i> Sycamore
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-397">Composer: Stability and Semantic Versioning Demystified</a></h5>
                                    <a href="{{ path("speakers") }}#beau-simensen" class="schedule-speaker">Beau Simensen</a>
                                    <i class="fa fa-map-marker"></i> Acacia
                                </div>
                            </div><!--

                         --><div class="grid__item one-third portable-one-whole">
                                <div class="schedule-block schedule-session">
                                    <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1217">Continuous Integration: Stop procrastinating and build often!</a></h5>
                                    <a href="{{ path("speakers") }}#patrick-mizer" class="schedule-speaker">Patrick Mizer</a>
                                    <i class="fa fa-map-marker"></i> Juniper
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Keynote -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            4:00pm - 4:50pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <h5 class="schedule-talk"><a href="{{ path("talk") }}#talk-1209">Keynote: Turning Big Ships</a></h5>
                            <a href="{{ path("speakers") }}#larry-garfield" class="schedule-speaker">Larry Garfield</a>
                            <i class="fa fa-map-marker"></i> Sycamore
                        </div>
                    </div>
                </div>
                <!-- Closing -->
                <div class="schedule-row">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            4:50pm - 5:00pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--middle schedule-block--centered">
                            <h5 class="schedule-talk">Closing Remarks</h5>
                        </div>
                    </div>
                </div>
                <!-- After Party -->
                <div class="schedule-row schedule-row--alt">
                    <div class="grid__item one-sixth portable-one-whole">
                        <div class="schedule-block schedule-time schedule-block--middle">
                            5:00pm - 9:00pm
                        </div>
                    </div><!--

                 --><div class="grid__item five-sixths portable-one-whole">
                        <div class="schedule-block schedule-session schedule-block--centered">
                            <a href="#after-party">
                                <h5 class="schedule-talk">After Party Presented By:</h5>
                                <img src="/images/sponsors/softlayer--small.png" alt="SoftLayer">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h3 id="after-party">After Party</h3>
            <p>
                The after party is just as important as all of the session at a conference. The after party provides a venue to meet, interact, and befriend
                other developers. Lone Star PHP always strives to provide the most inclusive and exciting after parties! Each night you can expect to see a
                couple of corn hole boards, tons of board games, and a kinect running on the big projector. There is no need to run off after the keynote, we
                provide food and beverages for everyone. No matter what your drink preference, we have you covered! Drinks provided are Beer (New Republic Brewing), mixed drinks, wine,
                Mexican Cokes (made with real sugar), "Dublin" Dr. Peppers (made with real sugar), assorted lemonades, water, etc.
            </p>

            <h4>Live podcast with Loosely Coupled</h4>
            <p>
                The newly-formed podcast, Loosely Coupled, will be recording live at Lone Star PHP 2014! Come join Jeff Carouth and Matt Frost as they discuss attending, speaking at, and benefiting from conferences; the problems of a software developer; and other community-oriented topics. This is your chance to not only hear the conversation as it happens, but also to influence the discussion with your questions and comments.
            </p>

            <h4>Contribute to OSS (Raffle)</h4>
            <p>
                One of the goals for Lone Star PHP is to always bring more people into the Open Source Community. This year, we will have a room setup to help get everyone some Open Source Softward.
                Whether you're creating a bug ticket, writing documentation, and/or committing code; that is a contribution! Every person who enters the OSS Room will receive a raffle ticket for a Raspberry Pi.
                The winners of the raffle will be announced at 9pm CST in the main ballroom (Sycamore).
            </p>
        </div>
    </section>
{% endblock %}